//
//  development.xcconfig
//  FilmVault
//
//  Created by magdalena.skawinska on 24/06/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = 0dfaba2344b7ad952c2d8c1f44d8683b
API_BASE_URL = api.themoviedb.org
API_VERSION = 3
